USE [master]
GO
/****** Object:  Database [db_WebsiteTimkiemvieclam]    Script Date: 5/3/2024 1:26:33 PM ******/
CREATE DATABASE [db_WebsiteTimkiemvieclam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_WebsiteTimkiemvieclam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_WebsiteTimkiemvieclam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_WebsiteTimkiemvieclam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_WebsiteTimkiemvieclam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_WebsiteTimkiemvieclam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_WebsiteTimkiemvieclam]
GO
/****** Object:  Table [dbo].[tblBaituyendung]    Script Date: 5/3/2024 1:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaituyendung](
	[PK_sMaBai] [bigint] IDENTITY(1,1) NOT NULL,
	[sTenBai] [nvarchar](100) NOT NULL,
	[sMoTa] [nvarchar](max) NULL,
	[sYeuCau] [nvarchar](max) NOT NULL,
	[sQuyenLoi] [nvarchar](max) NULL,
	[fMucLuongtoithieu] [float] NULL,
	[fNamKinhNghiem] [float] NULL,
	[dTgTuyenDung] [date] NOT NULL,
	[iSoLuong] [int] NULL,
	[dTgDangBai] [date] NOT NULL,
	[FK_sMaDN] [bigint] NOT NULL,
	[iTrangthai] [int] NULL,
	[sDiachicuthe] [nvarchar](max) NULL,
	[fMucluongtoida] [float] NULL,
 CONSTRAINT [PK_tblBaituyendung] PRIMARY KEY CLUSTERED 
(
	[PK_sMaBai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDoanhnghiep]    Script Date: 5/3/2024 1:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoanhnghiep](
	[PK_sMaDN] [bigint] IDENTITY(1,1) NOT NULL,
	[sMasothue] [bigint] NOT NULL,
	[sTenDN] [nvarchar](100) NOT NULL,
	[sLogo] [varchar](max) NOT NULL,
	[sMota] [nvarchar](max) NULL,
	[sDiachi] [nvarchar](200) NULL,
	[sSDT] [varchar](10) NULL,
	[FK_sEmail] [varchar](200) NOT NULL,
 CONSTRAINT [PK_tblDoanhnghiep] PRIMARY KEY CLUSTERED 
(
	[PK_sMaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuyen]    Script Date: 5/3/2024 1:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuyen](
	[PK_sMaQuyen] [bigint] IDENTITY(1,1) NOT NULL,
	[sTenQuyen] [nvarchar](50) NOT NULL,
	[bTrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_tblQuyen] PRIMARY KEY CLUSTERED 
(
	[PK_sMaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaikhoan]    Script Date: 5/3/2024 1:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaikhoan](
	[PK_sEmail] [varchar](200) NOT NULL,
	[sMatkhau] [varchar](100) NOT NULL,
	[FK_sMaQuyen] [bigint] NOT NULL,
 CONSTRAINT [PK_tblTaikhoan] PRIMARY KEY CLUSTERED 
(
	[PK_sEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThongTinUngTuyen]    Script Date: 5/3/2024 1:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThongTinUngTuyen](
	[PK_FK_sMaUngVien] [bigint] NOT NULL,
	[PK_FK_sMaBai] [bigint] NOT NULL,
	[dNgayGui] [date] NOT NULL,
	[sGioithieu] [nvarchar](200) NULL,
	[sCV] [varchar](max) NOT NULL,
	[bTrangthai] [bit] NULL,
 CONSTRAINT [PK_tblThongTinUnTuyen] PRIMARY KEY CLUSTERED 
(
	[PK_FK_sMaUngVien] ASC,
	[PK_FK_sMaBai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUngVien]    Script Date: 5/3/2024 1:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUngVien](
	[PK_sMaUngVien] [bigint] IDENTITY(1,1) NOT NULL,
	[sHoTen] [nvarchar](50) NULL,
	[bGioiTinh] [bit] NULL,
	[sAnh] [varchar](max) NULL,
	[sSDT] [varchar](10) NULL,
	[FK_sEmail] [varchar](200) NOT NULL,
 CONSTRAINT [PK_tblUngVien] PRIMARY KEY CLUSTERED 
(
	[PK_sMaUngVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblWebsite]    Script Date: 5/3/2024 1:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWebsite](
	[PK_sMaWebsite] [bigint] NOT NULL,
	[sTenWebsite] [nvarchar](200) NOT NULL,
	[sLink] [varchar](100) NOT NULL,
	[FK_sMaDN] [bigint] NOT NULL
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[tblBaituyendung] ON 

SET IDENTITY_INSERT [dbo].[tblBaituyendung] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDoanhnghiep] ON 

SET IDENTITY_INSERT [dbo].[tblDoanhnghiep] OFF
GO
SET IDENTITY_INSERT [dbo].[tblQuyen] ON 

INSERT [dbo].[tblQuyen] ([PK_sMaQuyen], [sTenQuyen], [bTrangThai]) VALUES (1, N'Ứng viên ', 1)
INSERT [dbo].[tblQuyen] ([PK_sMaQuyen], [sTenQuyen], [bTrangThai]) VALUES (2, N'Doanh nghiệp', 1)
INSERT [dbo].[tblQuyen] ([PK_sMaQuyen], [sTenQuyen], [bTrangThai]) VALUES (3, N'Đăng bài', 1)
SET IDENTITY_INSERT [dbo].[tblQuyen] OFF
GO
INSERT [dbo].[tblTaikhoan] ([PK_sEmail], [sMatkhau], [FK_sMaQuyen]) VALUES (N'doanhnghiepauovn@gmail.com', N'123', 2)
INSERT [dbo].[tblTaikhoan] ([PK_sEmail], [sMatkhau], [FK_sMaQuyen]) VALUES (N'doanhnghiepgem@gmail.com', N'123', 2)
INSERT [dbo].[tblTaikhoan] ([PK_sEmail], [sMatkhau], [FK_sMaQuyen]) VALUES (N'doanhnghiepkinlong@gmail.com', N'123', 2)
GO
INSERT [dbo].[tblThongTinUngTuyen] ([PK_FK_sMaUngVien], [PK_FK_sMaBai], [dNgayGui], [sGioithieu], [sCV], [bTrangthai]) VALUES (7, 5, CAST(N'2024-05-02' AS Date), N'kdsfsdf', N'https://drive.google.com/file/d/1u1L-fu8TOi0IH8ZMCp2vAzczHQZYc2Of/view', 0)
INSERT [dbo].[tblThongTinUngTuyen] ([PK_FK_sMaUngVien], [PK_FK_sMaBai], [dNgayGui], [sGioithieu], [sCV], [bTrangthai]) VALUES (7, 6, CAST(N'2024-05-02' AS Date), N'sdsd', N'https://drive.google.com/file/d/1t_qGjr_bFVgYBchtn9va9zpyaWDDJFPb/view', NULL)
INSERT [dbo].[tblThongTinUngTuyen] ([PK_FK_sMaUngVien], [PK_FK_sMaBai], [dNgayGui], [sGioithieu], [sCV], [bTrangthai]) VALUES (7, 13, CAST(N'2024-05-03' AS Date), N'koiiji', N'https://drive.google.com/file/d/1eg4wNw4NX-aartPwcp1G9dqgd9gS9m0t/view', NULL)
GO
SET IDENTITY_INSERT [dbo].[tblUngVien] ON 

INSERT [dbo].[tblUngVien] ([PK_sMaUngVien], [sHoTen], [bGioiTinh], [sAnh], [sSDT], [FK_sEmail]) VALUES (10007, NULL, NULL, NULL, NULL, N'hoaiuv2@gmail.com')
SET IDENTITY_INSERT [dbo].[tblUngVien] OFF
GO
ALTER TABLE [dbo].[tblBaituyendung]  WITH CHECK ADD  CONSTRAINT [FK_tblBaituyendung_tblDoanhnghiep] FOREIGN KEY([FK_sMaDN])
REFERENCES [dbo].[tblDoanhnghiep] ([PK_sMaDN])
GO
ALTER TABLE [dbo].[tblBaituyendung] CHECK CONSTRAINT [FK_tblBaituyendung_tblDoanhnghiep]
GO
ALTER TABLE [dbo].[tblDoanhnghiep]  WITH CHECK ADD  CONSTRAINT [FK_tblDoanhnghiep_tblTaikhoan] FOREIGN KEY([FK_sEmail])
REFERENCES [dbo].[tblTaikhoan] ([PK_sEmail])
GO
ALTER TABLE [dbo].[tblDoanhnghiep] CHECK CONSTRAINT [FK_tblDoanhnghiep_tblTaikhoan]
GO
ALTER TABLE [dbo].[tblTaikhoan]  WITH CHECK ADD  CONSTRAINT [FK_tblTaikhoan_tblQuyen] FOREIGN KEY([FK_sMaQuyen])
REFERENCES [dbo].[tblQuyen] ([PK_sMaQuyen])
GO
ALTER TABLE [dbo].[tblTaikhoan] CHECK CONSTRAINT [FK_tblTaikhoan_tblQuyen]
GO
ALTER TABLE [dbo].[tblThongTinUngTuyen]  WITH CHECK ADD  CONSTRAINT [FK_tblThongTinUngTuyen_tblBaituyendung] FOREIGN KEY([PK_FK_sMaBai])
REFERENCES [dbo].[tblBaituyendung] ([PK_sMaBai])
GO
ALTER TABLE [dbo].[tblThongTinUngTuyen] CHECK CONSTRAINT [FK_tblThongTinUngTuyen_tblBaituyendung]
GO
ALTER TABLE [dbo].[tblThongTinUngTuyen]  WITH CHECK ADD  CONSTRAINT [FK_tblThongTinUngTuyen_tblUngVien] FOREIGN KEY([PK_FK_sMaUngVien])
REFERENCES [dbo].[tblUngVien] ([PK_sMaUngVien])
GO
ALTER TABLE [dbo].[tblThongTinUngTuyen] CHECK CONSTRAINT [FK_tblThongTinUngTuyen_tblUngVien]
GO
ALTER TABLE [dbo].[tblUngVien]  WITH CHECK ADD  CONSTRAINT [fk_CustomerID] FOREIGN KEY([FK_sEmail])
REFERENCES [dbo].[tblTaikhoan] ([PK_sEmail])
GO
ALTER TABLE [dbo].[tblUngVien] CHECK CONSTRAINT [fk_CustomerID]
GO
ALTER TABLE [dbo].[tblWebsite]  WITH CHECK ADD  CONSTRAINT [FK_tblWebsite_tblDoanhnghiep] FOREIGN KEY([FK_sMaDN])
REFERENCES [dbo].[tblDoanhnghiep] ([PK_sMaDN])
GO
ALTER TABLE [dbo].[tblWebsite] CHECK CONSTRAINT [FK_tblWebsite_tblDoanhnghiep]
GO
USE [master]
GO

