@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    int? fkSMaQuyen = HttpContextAccessor.HttpContext.Session.GetInt32("FkSMaQuyen");
    string? avatar = HttpContextAccessor.HttpContext.Session.GetString("Avatar");
    string? PK_sEmail = HttpContextAccessor.HttpContext.Session.GetString("PK_sEmail");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Chủ</title>
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DATN_WebsiteTimKiemViecLam.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
</head>
<body>
    
    @if (fkSMaQuyen == 1)
    {
        <header style="background:#003493">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm text-white border-bottom box-shadow mb-3">
                <div class="container-fluid" >
                    <img style="margin-right: 15px; " class="logo" src="~/images/logo.jpg" />
                    <a class="navbar-brand text-white text-bar " asp-area="" asp-controller="UngVien" asp-action="btnHienthidanhsachVL" style="padding-bottom:1.5%; ">VIỆC LÀM</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <div class="navbar-nav flex-grow-1">
                            <a class="navbar-brand text-white text-bar" asp-area="" asp-controller="UngVien" asp-action="btnHienthidanhsachDN" style="padding-bottom:1.5%; ">DOANH NGHIỆP</a>
                        </div>
                        @* <div class=" navbar-brand text-white text-bar ">@PK_sEmail</div> *@
                        @if(avatar!=null)
                        {
                            <img style="height: 50px;width: 50px;margin: 10px;border-radius: 90%;" onmousemove="hienthimenu()" onmousewheel="anmenu()" src="data:image/png;base64,@avatar" />
                        }
                        else
                        {
                            <img style="height: 50px;width: 50px;margin: 10px;border-radius: 90%;" onmousemove="hienthimenu()" onmousewheel="anmenu()" src="~/images/logo.jpg" />

                        }
                    </div>
                </div>
                <div style="z-index: 2; border: 0.5px solid #ccc; border-radius: 5px;" id="hienthimenu" class="custom-vertical-menu">
                    <a style="    height: 50px;font-size: 14px;display: block; padding: 5px 10px; text-decoration: none; color: #333;" asp-controller="Taikhoan" asp-action="btnChinhsuathongtinUV_Click">
                        <i class="fas fa-user" style="margin-right: 5px;"></i> Sửa thông tin cá nhân
                    </a>
                    <a style="height: 50px;font-size: 14px;display: block; padding: 5px 10px; text-decoration: none; color: #333;" asp-controller="UngVien" asp-action="btnHienthidanhsachcv">
                        <i class="fas fa-file-alt" style="margin-right: 5px;"></i> Xem CV đã ứng tuyển
                    </a>
                    <a style="height: 50px;font-size: 14px;display: block; padding: 5px 10px; text-decoration: none; color: #333;" asp-controller="Taikhoan" asp-action="btnDoimatkhau_Click">
                        <i class="fas fa-key" style="margin-right: 5px;"></i> Đổi mật khẩu
                    </a>
                    <a style="height: 50px;font-size: 14px;display: block; padding: 5px 10px; text-decoration: none; color: #333;" asp-controller="Taikhoan" asp-action="btnDangxuat">
                        <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i> Đăng xuất
                    </a>
                </div>


            </nav>
        </header>

    }
    else if (fkSMaQuyen == 2)
    {
        <div style="background:#003493">
        <div class="container-fluid">
            <img style="margin-right: 15px;" class="logo" src="~/images/logo.jpg" />
            <a style="margin-top: 20px; margin-bottom: 2%;" class="navbar-brand text-white text-bar " asp-area="" asp-controller="UngVien" asp-action="btnHienthidanhsachVL">FREEWORK</a>
           
        </div>

        <div style="position: absolute" class="custom-vertical-menu-dn">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @* <div style="margin-left: 550px;" class=" navbar-brand text-white text-bar ">@PK_sEmail</div>*@
                <img style="height: 50px;width: 50px; border: 1px solid #ccc;margin: 10px;border-radius: 90%;" src="data:image/png;base64,@avatar" />
            </div>
            <div style="position: absolute" class="custom-vertical-menu-dn">
                <a asp-controller="Doanhnghiep" asp-action="hienthidanhsachbaidang" style="color:#302F2F; text-decoration: none; display: block;">
                    <i class="fas fa-home" style="font-size: 20px; margin-right: 5px;"></i>
                    <span style="font-weight: bold;">Quản lý bài đăng</span>
                </a>
                <br>
                <a asp-controller="Taikhoan" asp-action="EditInForCompany" style="color:#302F2F; text-decoration: none; display: block;">
                    <i class="fas fa-user" style="font-size: 20px; margin-right: 5px;"></i>
                    <span style="font-weight: bold;">Chỉnh sửa thông tin</span>
                </a>
                <br>
                <a asp-controller="Taikhoan" asp-action="btnChinhsuathongtinUV_Click" style="color:#302F2F; text-decoration: none; display: block;">
                    <i class="fas fa-cog chnh-sa-thng2" style="font-size: 20px; margin-right: 5px;"></i>
                    <span style="font-weight: bold;">Xác thực thông tin</span>
                </a>
                <br>
                <a asp-controller="Taikhoan" asp-action="btnDoimatkhau_Click" style="color:#302F2F; text-decoration: none; display: block;">
                    <i class="fas fa-pencil i-mt-khu2" style="font-size: 20px; margin-right: 5px;"></i>
                    <span style="font-weight: bold;">Đổi mật khẩu</span>
                </a>
                <br>
                <a asp-controller="Taikhoan" asp-action="btnDangxuat" style="color:#302F2F; text-decoration: none; display: block;">
                    <i class="fas fa-location-arrow ng-xut2" style="font-size: 20px; margin-right: 5px;"></i>
                    <span style="font-weight: bold;">Đăng xuất</span>
                </a>
            </div>

        </div>
        </div>
    }
    else if (fkSMaQuyen==4)
    {
        <div style="background:#003493">
        <div class="container-fluid">
            <img style="margin-right: 15px;" class="logo" src="~/images/logo.jpg" />
            <a style="margin-top: 20px;" class="navbar-brand text-white text-bar " asp-area="" asp-controller="UngVien" asp-action="btnHienthidanhsachVL">FREEWORK</a>
        </div>

        <div style="position: absolute" class="custom-vertical-menu-dn">
            <a asp-controller="Doanhnghiep" asp-action="hienthidanhsachbaidang" style="color:#003493" class="active"><i class="fas fa-home"></i> Quản lý tài khoản </a>
            <a asp-controller="Taikhoan" asp-action="btnDoimatkhau_Click" style="color:#003493"><i class="fas fa-pencil i-mt-khu2"></i>Đổi mật khẩu </a>
            <a asp-controller="Taikhoan" asp-action="btnDangxuat" style="color:#003493"><i class="fas fa-location-arrow ng-xut2"></i> Đăng xuất</a>
        </div>
        </div>
    }
    else
    {
        <header style="background:#003493">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm text-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <img style="margin-right: 15px;" class="logo" src="~/images/logo.jpg" />
                    <a style="margin-bottom: 1.1%;" class="navbar-brand text-white text-bar " asp-area="" asp-controller="UngVien" asp-action="btnHienthidanhsachVL">VIỆC LÀM</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <div class="navbar-nav flex-grow-1">
                            <a style="margin-bottom: 1.5%;" class="navbar-brand text-white text-bar" asp-area="" asp-controller="UngVien" asp-action="btnHienthidanhsachDN">DOANH NGHIỆP</a>
                        </div>
                        <a style="margin-bottom: 1.5%;" class="navbar-brand text-white text-bar" asp-controller="Taikhoan" asp-action="Login">ĐĂNG NHẬP</a>
                        <a style="margin-bottom: 1.5%;" class="navbar-brand text-white text-bar" asp-controller="Taikhoan" asp-action="Resgiter">ĐĂNG KÝ</a>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3" style=" background-color:#F5FAFF">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="background-color: #003493; bottom: 0; width: 100%; height: 150px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img style="margin-right: 15px;" class="logo" src="~/images/logo.jpg" />
                    <a style="margin-top: 10px; color: #f8f9fa;" class="navbar-brand text-bar" asp-area="" asp-controller="UngVien" asp-action="btnHienthidanhsachVL">FREEWORK</a>
                </div>
                <div class="col-md-4" style="color: #f8f9fa;  margin-top: 10px;   text-align: start;   font-size: 15px;    line-height: 20px;">
                    <b>Liên hệ</b>
                    <div>Hotline: <b>(024) 6680 5588</b> (Giờ hành chính)</div>
                    <div>Email: <b>hotro@freework.vn</b></div>
                </div>
                <div class="col-md-4" style="color: #f8f9fa;  margin-top: 10px;   text-align: start;   font-size: 15px;    line-height: 20px;">
                    <b>Cộng đồng FreeWork</b>
                    <div style="font-size: 20px;">
                        <i class="fab fa-youtube" style="margin-right: 10px;"></i>
                        <i class="fab fa-facebook" style="margin-right: 10px;"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function hienthimenu() { 
            var menu = document.getElementById("hienthimenu");
            menu.style.display = "block";
        }
        function anmenu() {
            var menu = document.getElementById("hienthimenu");
            menu.style.display = "none";
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
