@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    int? fkSMaQuyen = HttpContextAccessor.HttpContext.Session.GetInt32("FkSMaQuyen");
    string? avatar = HttpContextAccessor.HttpContext.Session.GetString("Avatar");
    string? PK_sEmail = HttpContextAccessor.HttpContext.Session.GetString("PK_sEmail");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Chủ</title>
    @* <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DATN_WebsiteTimKiemViecLam.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="~/css/footer.css" rel="stylesheet" /> *@
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="flex overflow-hidden flex-col bg-white">
        <div class="flex flex-col justify-center items-center px-16 py-3 w-full text-sm leading-none bg-gray-100 max-md:px-5 max-md:max-w-full">
            <nav class="flex flex-wrap gap-5 justify-between w-full max-w-[1320px] max-md:max-w-full">
                <ul class="flex gap-6 my-auto text-gray-500">
                    <li><a href="#" class="grow text-gray-500">Trang chủ</a></li>
                    <li><a href="#" class="font-medium text-blue-700">Việc làm</a></li>
                    <li><a href="#">Doanh nghiệp</a></li>
                    <li><a href="#">Blog IT</a></li>
                </ul>
                <div class="flex gap-2 font-medium text-zinc-900">
                    <img loading="lazy"
                         src="https://cdn.builder.io/api/v1/image/assets/TEMP/9db5717c3cef4d4edfe29e7ec52c306ee32fad9ca8bafb1abcfe41cde7633cbe?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                         class="object-contain shrink-0 w-6 aspect-square" alt="Phone icon" />
                    <a href="tel:+84 33456789" class="my-auto basis-auto">+84 33456789</a>
                </div>
            </nav>
        </div>
        <div class="flex flex-col justify-center items-center px-16 py-5 w-full bg-white max-md:px-5 max-md:max-w-full">
            <div class="flex flex-wrap gap-5 justify-between w-full max-w-[1322px] max-md:max-w-full">
                <div class="flex flex-wrap gap-8 text-base text-gray-400">
                    <img loading="lazy"
                         src="https://cdn.builder.io/api/v1/image/assets/TEMP/47e8dcde21ea38af29fab7a7393bbea713dddd79f49d17096d025290941d1c5a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                         class="object-contain shrink-0 my-auto max-w-full aspect-[2.76] w-[116px]" alt="Company logo" />
                    <form class="flex flex-wrap flex-auto gap-3 px-7 py-3.5 rounded-md border border-solid bg-zinc-300 bg-opacity-0 border-zinc-200 max-md:px-5">
                        <label for="search-input" class="sr-only">Tìm kiếm theo tên việc làm, doanh nghiệp</label>
                        <img loading="lazy"
                             src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3f1205c4e3952ff56cc646c0c3e09e7d246151e6042269c524301150e8c594c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                             class="object-contain shrink-0 w-6 aspect-square" alt="Search icon" />
                        <input type="text" id="search-input" class="flex-auto max-md:max-w-full focus:border-blue-500 focus:ring-2 focus:ring-blue-300 focus:outline-none"
                               placeholder="Tìm kiếm theo tên việc làm, doanh nghiệp" />
                    </form>
                </div>
                <div class="flex gap-6 self-start">
                   
                   
                     @if (fkSMaQuyen != 1)
                    {
                        <nav class="flex gap-3 text-base font-semibold capitalize" aria-label="Login navigation">
                            <a href="/employer" class="px-6 py-3 text-blue-700 rounded-md border border-indigo-200 border-solid bg-zinc-300 bg-opacity-0 hover:bg-opacity-10 focus:outline-none focus:ring-2 focus:ring-blue-500" role="button">
                            Nhà tuyển dụng
                        </a>
                        <a href="/dangNhap" class="px-6 py-3 text-white bg-blue-700 rounded-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500" role="button">
                            Đăng nhập
                        </a>
                        </nav>
                    }
                    else
                    {
                        <img loading="lazy"
                             src="https://cdn.builder.io/api/v1/image/assets/TEMP/7f8deff7186c6f03216c1dd95c7442f7e1a766441c082c7c930a0cb808ec3d4f?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                             class="object-contain shrink-0 my-auto aspect-square w-[25px]" alt="Notification icon" />
                        <img loading="lazy"
                             src="https://cdn.builder.io/api/v1/image/assets/TEMP/f048df5fa8c3d8ee8f695136dfc007d1cb71f9f3bc460a6ede1c953810f4c543?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                             class="object-contain shrink-0 w-12 aspect-square" alt="User profile" />
                    }
                </div>
            </div>
        </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer class="flex flex-col justify-center items-center px-16 py-24 mt-24 w-full bg-sky-950 max-md:px-5 max-md:mt-10 max-md:max-w-full">
        <div class="w-full max-w-[1322px] max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col">
                <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
                    <div class="flex flex-col max-md:mt-10">
                        <img loading="lazy"
                             src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e8088abbc346b3a00c7eadecda8bbef17030f71182fe127248a0eaa96d041c0?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                             class="object-contain max-w-full aspect-[2.85] w-[114px]" alt="Company logo" />
                        <div class="flex flex-col mt-6 w-full">
                            <div class="flex items-start self-start text-lg leading-loose">
                                <span class="text-gray-400">Liên hệ</span>
                                <a href="tel:+84 33456789" class="font-medium text-white">+84 33456789</a>
                            </div>
                            <address class="mt-3 text-sm leading-5 text-slate-500 not-italic">
                                6391 Elgin St. Celina, Delaware 10299, New York, United States of America
                            </address>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col ml-5 w-9/12 max-md:ml-0 max-md:w-full">
                    <div class="grow max-md:mt-10 max-md:max-w-full">
                        <div class="flex gap-5 max-md:flex-col">
                            <nav class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full" aria-label="About Itseek">
                                <div class="flex flex-col grow max-md:mt-10">
                                    <h2 class="text-xl font-medium leading-relaxed text-white">
                                        Về Itseek
                                    </h2>
                                    <ul class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-stretch py-1.5"><a href="#">Trở lại</a></li>
                                        <li class="flex gap-1.5 items-center self-stretch py-1.5 mt-1 font-medium text-white">
                                            <img loading="lazy"
                                                 src="https://cdn.builder.io/api/v1/image/assets/TEMP/7300c226a67d6150c1222ddcf94e48ddc7c17b2d23cb6babd8d2f8ac95555488?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                                 class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
                                                 alt="Contact icon" />
                                            <a href="#">Liên hệ</a>
                                        </li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Đánh giá</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Tin tức</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <nav class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full"
                                 aria-label="For Candidates">
                                <div class="flex flex-col grow max-md:mt-10">
                                    <h2 class="text-xl font-medium leading-relaxed text-white">
                                        Ứng viên
                                    </h2>
                                    <ul class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-stretch py-1.5"><a href="#">Công việc</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Nhà tuyển dụng</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1">
                                            <a href="#">Tổng quan ứng viên</a>
                                        </li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Việc làm đã lưu</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <nav class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full" aria-label="For Employers">
                                <div class="flex flex-col grow max-md:mt-10">
                                    <h2 class="text-xl font-medium leading-relaxed text-white">
                                        Nhà tuyển dụng
                                    </h2>
                                    <ul class="flex flex-col self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-start py-1.5"><a href="#">Đăng việc làm</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Duyệt công việc</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1"><a href="#">Bảng điều khiển</a></li>
                                        <li class="gap-1 self-start py-1.5 mt-1"><a href="#">Ứng dụng</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <nav class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full" aria-label="Support">
                                <div class="flex flex-col max-md:mt-10">
                                    <h2 class="text-xl font-medium leading-relaxed text-white">
                                        Hỗ trợ
                                    </h2>
                                    <ul class="flex flex-col items-start self-start mt-4 text-base text-center text-gray-400">
                                        <li class="gap-1 self-stretch py-1.5"><a href="#">Câu hỏi thường gặp</a></li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1">
                                            <a href="#">Chính sách bảo mật</a>
                                        </li>
                                        <li class="gap-1 self-stretch py-1.5 mt-1">
                                            <a href="#">
                                                Điều khoản và điều
                                                kiện
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="flex flex-wrap gap-10 justify-between items-center px-72 py-6 w-full border-t bg-sky-950 border-zinc-500 max-md:px-5 max-md:max-w-full">
        <p class="self-stretch my-auto text-sm leading-none text-gray-500">
            2024 Itseek - Thực hiện bởi Nguyễn Hồng Phong
        </p>
        <div class="flex gap-5 items-start self-stretch my-auto">
            <a href="#" aria-label="Facebook">
                <img loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/d82db8891ea87d774b36c66d426cda30421077f7065ad493251b1105d8eabf89?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                     class="object-contain shrink-0 w-2.5 aspect-[0.5]" alt="Facebook icon" />
            </a>
            <a href="#" aria-label="Twitter">
                <img loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/d5b6d5296bcda9b509d85edd8b268839b4e279bee3b5725be20dbc74f8a88657?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                     class="object-contain shrink-0 w-5 aspect-square" alt="Twitter icon" />
            </a>
            <a href="#" aria-label="Instagram">
                <img loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/4c4a429f6009c5ad9e2e331f0bbac9574f14b4f495da03c521a4119998914096?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                     class="object-contain shrink-0 w-5 aspect-square" alt="Instagram icon" />
            </a>
            <a href="#" aria-label="LinkedIn">
                <img loading="lazy"
                     src="https://cdn.builder.io/api/v1/image/assets/TEMP/173fd96516dfc752e74f6f0f2ebb8f4fe82948ecc2f3c1693097f2c52238e5c7?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                     class="object-contain shrink-0 w-5 aspect-square" alt="LinkedIn icon" />
            </a>
        </div>
    </div>
    
    <script>
        function hienthimenu() { 
            var menu = document.getElementById("hienthimenu");
            menu.style.display = "block";
        }
        function anmenu() {
            var menu = document.getElementById("hienthimenu");
            menu.style.display = "none";
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
