@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang đăng ký doanh nghiệp 2</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="flex overflow-hidden flex-col bg-white">
        <header
            class="flex flex-col justify-center items-center px-16 py-7 w-full bg-white max-md:px-5 max-md:max-w-full">
            <div class="flex flex-wrap gap-5 justify-between w-full max-w-[1320px] max-md:max-w-full">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/47e8dcde21ea38af29fab7a7393bbea713dddd79f49d17096d025290941d1c5a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    class="object-contain shrink-0 max-w-full aspect-[2.76] w-[116px]" alt="Company logo" />
                <div class="flex flex-col self-start">
                    <div class="flex gap-10 justify-between items-center max-w-full text-sm leading-none w-[312px]">
                        <p class="self-stretch my-auto text-gray-500">Đăng ký tài khoản</p>
                        <p class="self-stretch my-auto font-medium text-blue-700">33% Thành công</p>
                    </div>
                    <div class="flex flex-col mt-3 max-w-full w-[312px]">
                        <div class="flex flex-col items-start bg-sky-100 rounded-[100px] max-md:pr-5">
                            <div class="flex shrink-0 h-2 bg-blue-700 rounded-[100px_0px_0px_100px] w-[78px]"
                                role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="flex flex-col justify-center self-center pt-12 pb-24 max-w-full w-[984px]">
            <nav class="flex pr-20 w-full text-sm font-medium leading-none max-w-[984px] max-md:pr-5 max-md:max-w-full">
                <div
                    class="flex-auto self-end mt-12 mr-0 h-px border border-solid bg-zinc-200 border-zinc-200 max-md:mt-10 max-md:max-w-full">
                </div>
                <ul class="flex flex-wrap flex-auto gap-2 justify-center items-center max-md:max-w-full">
                    <li class="flex gap-2 justify-center items-center self-stretch px-5 py-3 my-auto text-neutral-600">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0b568042e072970ad154215c3a4e92a2f27168236a624de623cb4d16c5e5ed5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="" />
                        <span>Thông tin công ty</span>
                    </li>
                    <li
                        class="flex gap-2 items-center self-stretch px-5 py-3 my-auto font-semibold text-blue-700 bg-white shadow-sm">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c432dfcc1e93b95264ad1b4f668454d99f072cb6516f2a86f6e09803660cfe7c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="" />
                        <span>Trang liên kết</span>
                    </li>
                    <li class="flex gap-2 justify-center items-center self-stretch px-5 py-3 my-auto text-gray-400">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/62b5a625d44e2dbf195cd25fc332f4fd4feee8400409aeada0162d3f47b0f328?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="" />
                        <span>Liên hệ</span>
                    </li>
                </ul>
            </nav>
            <section class="flex flex-col mt-8 w-full">
                <div class="flex flex-col w-full max-w-[984px] max-md:max-w-full">
                    <h2 class="text-sm leading-none text-zinc-900">Liên kết 1</h2>
                    <div class="flex flex-wrap gap-3 items-start mt-2 w-full max-md:max-w-full">
                        <div
                            class="flex flex-col flex-1 shrink justify-center items-start px-6 py-2.5 bg-white rounded-md border border-solid basis-0 border-zinc-200 min-w-[240px] max-md:px-5 max-md:max-w-full">
                            <div class="flex gap-5 justify-center items-center">
                                <div
                                    class="flex gap-3 justify-center items-center self-stretch my-auto text-sm font-medium leading-none whitespace-nowrap text-zinc-900">
                                    <div class="flex gap-2 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/35b22c7aaa7c26e0c91476866dc87dc6302cf44148069c77abed3e2791cc421c?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square"
                                            alt="Facebook icon" />
                                        <span class="self-stretch my-auto w-[124px]">Facebook</span>
                                    </div>
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/2eee3c27ec31e6003dd7b2e9a38767e8046029473e0886b1190b7b94d25d66b3?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                                </div>
                                <div
                                    class="shrink-0 self-stretch my-auto w-0 h-8 border border-solid bg-zinc-200 border-zinc-200">
                                </div>
                                <input type="text" placeholder="Profile link/url..."
                                    class="gap-3 self-stretch my-auto text-base text-gray-400 bg-transparent border-none"
                                    aria-label="Facebook profile link" />
                            </div>
                        </div>
                        <button class="flex gap-2.5 items-center p-3.5 bg-gray-100 rounded-md h-[50px] w-[50px]"
                            aria-label="Add Facebook link">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d2b07614339162c70d3251635d3b2c39b980fb9f45b2752dfb779a5f3916056?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain w-6 aspect-square" alt="" />
                        </button>
                    </div>
                </div>
                <div class="flex flex-col mt-5 w-full max-w-[984px] max-md:max-w-full">
                    <h2 class="text-sm leading-none text-zinc-900">Liên kết 2</h2>
                    <div class="flex flex-wrap gap-3 items-start mt-2 w-full max-md:max-w-full">
                        <div
                            class="flex flex-col flex-1 shrink justify-center items-start px-6 py-2.5 bg-white rounded-md border border-solid basis-0 border-zinc-200 min-w-[240px] max-md:px-5 max-md:max-w-full">
                            <div class="flex gap-5 justify-center items-center">
                                <div
                                    class="flex gap-3 justify-center items-center self-stretch my-auto text-sm font-medium leading-none whitespace-nowrap text-zinc-900">
                                    <div class="flex gap-2 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/da441f9343ad38233bbd1ea68a32c7e9c2d23e31a97eda50a4561b46ec9b35cf?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square"
                                            alt="Twitter icon" />
                                        <span class="self-stretch my-auto w-[124px]">Twitter</span>
                                    </div>
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/2eee3c27ec31e6003dd7b2e9a38767e8046029473e0886b1190b7b94d25d66b3?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                                </div>
                                <div
                                    class="shrink-0 self-stretch my-auto w-0 h-8 border border-solid bg-zinc-200 border-zinc-200">
                                </div>
                                <input type="text" placeholder="Profile link/url..."
                                    class="gap-3 self-stretch my-auto text-base text-gray-400 bg-transparent border-none"
                                    aria-label="Twitter profile link" />
                            </div>
                        </div>
                        <button class="flex gap-2.5 items-center p-3.5 bg-gray-100 rounded-md h-[50px] w-[50px]"
                            aria-label="Add Twitter link">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d2b07614339162c70d3251635d3b2c39b980fb9f45b2752dfb779a5f3916056?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain w-6 aspect-square" alt="" />
                        </button>
                    </div>
                </div>
                <div class="flex flex-col mt-5 w-full max-w-[984px] max-md:max-w-full">
                    <h2 class="text-sm leading-none text-zinc-900">Liên kết 3</h2>
                    <div class="flex flex-wrap gap-3 items-start mt-2 w-full max-md:max-w-full">
                        <div
                            class="flex flex-col flex-1 shrink justify-center items-start px-6 py-2.5 bg-white rounded-md border border-solid basis-0 border-zinc-200 min-w-[240px] max-md:px-5 max-md:max-w-full">
                            <div class="flex gap-5 justify-center items-center">
                                <div
                                    class="flex gap-3 justify-center items-center self-stretch my-auto text-sm font-medium leading-none whitespace-nowrap text-zinc-900">
                                    <div class="flex gap-2 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c7553fdbe4a8a661d1e44c68404726ca819c085bfcf71ede054d32d2ab203ef5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square"
                                            alt="Instagram icon" />
                                        <span class="self-stretch my-auto w-[124px]">Instagram</span>
                                    </div>
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/2eee3c27ec31e6003dd7b2e9a38767e8046029473e0886b1190b7b94d25d66b3?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                                </div>
                                <div
                                    class="shrink-0 self-stretch my-auto w-0 h-8 border border-solid bg-zinc-200 border-zinc-200">
                                </div>
                                <input type="text" placeholder="Profile link/url..."
                                    class="gap-3 self-stretch my-auto text-base text-gray-400 bg-transparent border-none"
                                    aria-label="Instagram profile link" />
                            </div>
                        </div>
                        <button class="flex gap-2.5 items-center p-3.5 bg-gray-100 rounded-md h-[50px] w-[50px]"
                            aria-label="Add Instagram link">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d2b07614339162c70d3251635d3b2c39b980fb9f45b2752dfb779a5f3916056?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain w-6 aspect-square" alt="" />
                        </button>
                    </div>
                </div>
                <div class="flex flex-col mt-5 w-full max-w-[984px] max-md:max-w-full">
                    <h2 class="text-sm leading-none text-zinc-900">Liên kết 4</h2>
                    <div class="flex flex-wrap gap-3 items-start mt-2 w-full max-md:max-w-full">
                        <div
                            class="flex flex-col flex-1 shrink justify-center items-start px-6 py-2.5 bg-white rounded-md border border-solid basis-0 border-zinc-200 min-w-[240px] max-md:px-5 max-md:max-w-full">
                            <div class="flex gap-5 justify-center items-center">
                                <div
                                    class="flex gap-3 justify-center items-center self-stretch my-auto text-sm font-medium leading-none whitespace-nowrap text-zinc-900">
                                    <div class="flex gap-2 items-center self-stretch my-auto">
                                        <img loading="lazy"
                                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/24ac84691cf7d542905ec8658a3003afd7bf04812a6367756b1bcd983b478e34?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                            class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square"
                                            alt="Youtube icon" />
                                        <span class="self-stretch my-auto w-[124px]">Youtube</span>
                                    </div>
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/2eee3c27ec31e6003dd7b2e9a38767e8046029473e0886b1190b7b94d25d66b3?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square" alt="" />
                                </div>
                                <div
                                    class="shrink-0 self-stretch my-auto w-0 h-8 border border-solid bg-zinc-200 border-zinc-200">
                                </div>
                                <input type="text" placeholder="Profile link/url..."
                                    class="gap-3 self-stretch my-auto text-base text-gray-400 bg-transparent border-none"
                                    aria-label="Youtube profile link" />
                            </div>
                        </div>
                        <button class="flex gap-2.5 items-center p-3.5 bg-gray-100 rounded-md h-[50px] w-[50px]"
                            aria-label="Add Youtube link">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d2b07614339162c70d3251635d3b2c39b980fb9f45b2752dfb779a5f3916056?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                class="object-contain w-6 aspect-square" alt="" />
                        </button>
                    </div>
                </div>
                <button
                    class="flex flex-col justify-center items-center px-16 py-3 mt-5 w-full text-sm font-medium leading-none bg-gray-100 rounded-md max-w-[984px] text-zinc-900 max-md:px-5 max-md:max-w-full">
                    <div class="flex gap-2 max-w-full w-[158px]">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/99d2fa73744800b7ba84df792234a66514803a5b9ec041cf05da54f629ff27c5?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            class="object-contain shrink-0 w-5 aspect-square" alt="" />
                        <span class="grow shrink w-[126px]">Thêm trang liên kết</span>
                    </div>
                </button>
            </section>
            <div class="flex gap-3 items-start self-start mt-8 text-base font-semibold capitalize">
                <button class="gap-3 self-stretch px-8 py-4 bg-gray-100 rounded text-zinc-900 max-md:px-5">Quay
                    lại</button>
                <button
                    class="flex gap-3 justify-center items-center px-8 py-4 text-white bg-blue-700 rounded max-md:px-5">
                    <span class="self-stretch my-auto">Chuyển tiếp</span>
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/72c910bdc0ab047ea5955f38a3ad60282ede593a9cd52829af6c667f07736419?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                        class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" alt="" />
                </button>
            </div>
        </main>
        <footer
            class="self-stretch px-72 py-6 mt-40 text-sm leading-none text-center text-gray-500 bg-white shadow-sm w-[1320px] max-md:px-5 max-md:mt-10 max-md:max-w-full">
            @ 2024 Itseek - Thực hiện bởi Nguyễn Hồng Phong
        </footer>
    </section>
</body>

</html>
