@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Đăng ký doanh nghiệp</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="flex overflow-hidden flex-col bg-white">
        <header
            class="flex flex-col justify-center items-center px-16 py-7 w-full bg-white max-md:px-5 max-md:max-w-full">
            <div class="flex flex-wrap gap-5 justify-between w-full max-w-[1320px] max-md:max-w-full">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/47e8dcde21ea38af29fab7a7393bbea713dddd79f49d17096d025290941d1c5a?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    alt="Company logo" class="object-contain shrink-0 max-w-full aspect-[2.76] w-[116px]" />
                <div class="flex flex-col self-start">
                    <p class="text-sm leading-none text-gray-500">Đăng ký tài khoản</p>
                    <div class="flex flex-col mt-3 max-w-full w-[312px]">
                        <div class="flex shrink-0 h-2 bg-sky-100 rounded-[100px]" role="progressbar" aria-valuenow="33"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </header>
        <main class="flex flex-col justify-center self-center pt-12 pb-24 max-w-full w-[984px]">
            <nav
                class="flex pr-20 w-full text-sm font-medium leading-none text-gray-400 max-w-[984px] max-md:pr-5 max-md:max-w-full">
                <div
                    class="flex-auto self-end mt-12 mr-0 h-px border border-solid bg-zinc-200 border-zinc-200 max-md:mt-10 max-md:max-w-full">
                </div>
                <ul
                    class="flex flex-wrap flex-auto gap-2 justify-center items-center max-md:max-w-full list-none p-0 m-0">
                    <li
                        class="flex gap-2 items-center self-stretch px-5 py-3 my-auto font-semibold text-blue-700 bg-white shadow-sm">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b1145916f622b192b0f9be730b82e988ea90f84b1b8828fe546a38e3e647b451?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            alt="" class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" />
                        <span class="self-stretch my-auto">Thông tin công ty</span>
                    </li>
                    <li class="flex gap-2 justify-center items-center self-stretch px-5 py-3 my-auto">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/150543045ce3d5bf8c212d6c8d97fb2ef08790a9bd06ebbcbc25088e4c6dcdbb?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            alt="" class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" />
                        <span class="self-stretch my-auto">Trang liên kết</span>
                    </li>
                    <li class="flex gap-2 justify-center items-center self-stretch px-5 py-3 my-auto">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/787ed82f9c93154e0dfdf9dec13b6ca34a67f4ca14ed9e71596cd12c455567d7?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                            alt="" class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" />
                        <span class="self-stretch my-auto">Liên hệ</span>
                    </li>
                </ul>
            </nav>
            <section class="flex flex-col justify-between mt-8 w-full max-w-[984px] min-h-[656px] max-md:max-w-full">
                <h2 class="text-lg font-medium leading-loose text-zinc-900 max-md:max-w-full">Logo công ty & Ảnh bìa
                </h2>
                <div class="flex flex-wrap gap-6 items-start pb-3.5 mt-3.5 max-md:max-w-full">
                    <div class="flex flex-col w-60">
                        <label for="company-logo" class="text-sm leading-none text-zinc-900">Tải tài liệu lên</label>
                        <div class="flex flex-col mt-2 w-60 max-w-full text-center">
                            <div
                                class="flex flex-col justify-center items-center px-5 rounded-md border-2 border-dashed aspect-square bg-gray-100 bg-opacity-40 border-neutral-300 border-opacity-70">
                                <div class="flex flex-col">
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/43b4a038b705ad236f4fbac0af9793cf95fb50f0904a7f4bedbb9f750ba427d8?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        alt="" class="object-contain self-center w-12 aspect-square" />
                                    <div class="flex flex-col items-start mt-4 w-full">
                                        <p class="text-base font-medium leading-5 text-neutral-600">
                                            <span class="text-sm leading-5 text-zinc-900">Duyệt ảnh </span>
                                            <span class="text-sm leading-5 text-zinc-900">hoặc</span>
                                            <span class="text-sm leading-5">thả ảnh</span>
                                        </p>
                                        <p class="mt-1.5 text-xs leading-5 text-gray-500">Một bức ảnh lớn hơn 400 pixel
                                            sẽ hoạt động tốt nhất. Kích thước ảnh tối đa 5 MB.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col min-w-[240px] w-[720px] max-md:max-w-full">
                        <label for="cover-photo" class="text-sm leading-none text-zinc-900">Ảnh bìa</label>
                        <div class="flex flex-col mt-2 max-w-full text-center rounded-none w-[720px]">
                            <div
                                class="flex flex-col justify-center items-center px-20 py-14 rounded-md bg-gray-100 bg-opacity-40 max-md:px-5 max-md:max-w-full">
                                <div class="flex flex-col max-w-full w-[350px]">
                                    <img loading="lazy"
                                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/43b4a038b705ad236f4fbac0af9793cf95fb50f0904a7f4bedbb9f750ba427d8?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                        alt="" class="object-contain self-center w-12 aspect-square" />
                                    <div class="flex flex-col items-start mt-4 w-full">
                                        <p class="text-base font-medium leading-5 text-neutral-600">
                                            <span class="text-sm leading-5 text-zinc-900">Duyệt ảnh </span>
                                            <span class="text-sm leading-5 text-zinc-900">hoặc</span>
                                            <span class="text-sm leading-5">thả ảnh</span>
                                        </p>
                                        <p class="mt-1.5 text-xs leading-5 text-gray-500">Hình ảnh bannar có kích thước
                                            quang học 1520x400. Định dạng được hỗ trợ JPEG, PNG. Kích thước ảnh tối đa 5
                                            MB.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-3.5 w-full border border-solid bg-zinc-200 border-zinc-200 min-h-[1px]" />
                <div class="flex flex-col pt-3.5 mt-3.5 w-full text-sm leading-none text-zinc-900">
                    <label for="company-name">Tên công ty</label>
                    <input type="text" id="company-name"
                        class="flex mt-2 w-full bg-white rounded-md border border-solid border-zinc-200 min-h-[48px] max-md:max-w-full" />
                </div>
                <div class="flex flex-col mt-3.5 w-full">
                    <label for="company-description" class="text-sm leading-none text-zinc-900">Giới thiệu</label>
                    <div
                        class="flex flex-col items-start py-2.5 pr-20 pl-2.5 mt-2 w-full bg-white rounded-md border border-solid border-zinc-200 max-md:pr-5 max-md:max-w-full">
                        <textarea id="company-description" class="text-base text-gray-400 max-md:max-w-full w-full h-32"
                            placeholder="Viết về công ty của bạn ở đây. Hãy cho ứng viên biết công ty bạn là gì..."></textarea>
                        <div class="flex gap-2 items-center mt-24 max-md:mt-10">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/58bd409b74a157960fc5cba3a8e707048285cf77f8f10f57fe375f0954d4c2ff?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                alt="Text formatting options"
                                class="object-contain shrink-0 self-stretch my-auto aspect-[4] w-[136px]" />
                            <div
                                class="shrink-0 self-stretch my-auto w-0 h-6 border border-solid bg-zinc-200 border-zinc-200">
                            </div>
                            <button class="flex gap-2.5 items-start self-stretch p-2 my-auto rounded w-[34px]"
                                aria-label="Insert link">
                                <img loading="lazy"
                                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/0fbaaed699bb7b9379013a535a20017ffa3789fee947ad0408bfc6fb61003d21?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                    alt="" class="object-contain aspect-square w-[18px]" />
                            </button>
                            <div
                                class="shrink-0 self-stretch my-auto w-0 h-6 border border-solid bg-zinc-200 border-zinc-200">
                            </div>
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/a97806f68b2018241058e5f410a7993af7e1806aa329993267fd78efb493188f?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                                alt="Additional text options"
                                class="object-contain shrink-0 self-stretch my-auto aspect-[2] w-[68px]" />
                        </div>
                    </div>
                </div>
            </section>
            <button
                class="flex gap-3 justify-center items-center self-start px-8 py-4 mt-8 text-base font-semibold text-white capitalize bg-blue-700 rounded max-md:px-5">
                <span class="self-stretch my-auto">Chuyển tiếp</span>
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/72c910bdc0ab047ea5955f38a3ad60282ede593a9cd52829af6c667f07736419?placeholderIfAbsent=true&apiKey=62a981c296dc4151acd2798ece477ddd"
                    alt="" class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" />
            </button>
        </main>
        <footer
            class="self-stretch px-72 py-6 text-sm leading-none text-center text-gray-500 bg-white shadow-sm w-[1320px] max-md:px-5 max-md:max-w-full">
            @ 2024 Itseek - Thực hiện bởi Nguyễn Hồng Phong
        </footer>
    </section>
</body>

</html>