@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<span>THÔNG TIN EMAIL</span>
<form action="" class="text-black">
<div class="mb-3 text-start">
    <label for="exampleFormControlInput1" class="form-label">Tiêu đề</label>
    <input name="txtTieude" type="email" class="form-control" id="exampleFormControlInput1" >
</div>
 @*    <div class="mb-3 text-start">
    <label for="formFile" class="form-label">File( nếu có)</label>
    <input class="form-control" type="file" id="formFile">
</div> *@
    <div class="mb-3 text-start">
    <label for="exampleFormControlTextarea1" class="form-label">Nội dung</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
    <button type="submit" class="btn btn-primary">GỬI</button>
</form>