@*
Name:Nguyễn Thị Thu Hoài
Date:07/03/2024
Des: Created
*@
<!DOCTYPE html>
<html>
<head>
    <title>Freework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elegant Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
    </script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    @* <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> *@
    <style>
        .display_pass {
            position: relative;
        }

            .display_pass img {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="login-form w3_form">
      @*   <div class="w3_title">
            <img src="~/images/logo.jpg" />
        </div> *@
        <div class="">
            <div style="text-align:left;width: 600px;margin:0 auto" class="w3l_grid">
                <div style="margin:0 auto">
                    <span style="color:red; margin-bottom:20px">(*)</span> <span class="text-black">Các thông tin bắt buộc</span>
                </div>
                <form class="login-container" enctype="multipart/form-data" action="@Url.Action("EditInForCompany", "Taikhoan")" method="post">
                    <span class="text-black">Tên doanh nghiệp: </span>
                    <input class="form-control" name="tendoanhnghiep"  placeholder="Ngân hàng TMCP Bảo Việt (BAOVIET Bank)" /><br />
                    <span class="item text-black">Logo:</span>
                    <input name="file" type="file"/><br />
                    <span class=" text-black ">Mô tả: </span>
                    <textarea class="form-control" name="mota" type="text"  placeholder="Được thành lập theo giấy phép hoạt động số 328/GP-NHNN ngày 11/12/2008 của Thống đốc Ngân hàng Nhà ..."></textarea><br />
                    <span class="text-black">Địa chỉ:</span>
                    <input class="form-control" name="diachi"  placeholder="Nhật Tựu, Kim Bảng, Hà Nam" /><br />
                    <span class="text-black">Mã số thuế:</span>
                    <input class="form-control" name="masothue" placeholder="034982934" /><br />
                    <span class="text-black">Số điện thoại:</span>
                    <input class="form-control" name="sodienthoai" placeholder="0347382100" /><br />
                    <input style="background:#3D3BB2" type="submit" value="Lưu thông tin">
                </form>
            </div>
        </div>
    </div>
</body>
</html>

