@*
Name:Nguyễn Thị Thu Hoài
Date:07/03/2024
Des: Created
*@
<!DOCTYPE html>
<html>
<head>
    <title>Freework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elegant Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
    </script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="login-form">
                    <div class="text-center mb-4">
                        <span style="color:red;">(*)</span> <span class="text-black">Các thông tin bắt buộc</span>
                    </div>
                    <form class="w3l_grid" enctype="multipart/form-data" action="@Url.Action("EditInForCompany", "Taikhoan")" method="post">
                        <div class="mb-3 row">
                            <label for="tendoanhnghiep" class="col-sm-3 col-form-label text-black">Tên doanh nghiệp:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="tendoanhnghiep" name="tendoanhnghiep" placeholder="Ngân hàng TMCP Bảo Việt (BAOVIET Bank)">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="file" class="col-sm-3 col-form-label text-black">Logo:</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" id="file" name="file">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="mota" class="col-sm-3 col-form-label text-black">Mô tả:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="mota" name="mota" rows="3" placeholder="Được thành lập theo giấy phép hoạt động số 328/GP-NHNN ngày 11/12/2008 của Thống đốc Ngân hàng Nhà ..."></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="diachi" class="col-sm-3 col-form-label text-black">Địa chỉ:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="diachi" name="diachi" placeholder="Nhật Tựu, Kim Bảng, Hà Nam">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="masothue" class="col-sm-3 col-form-label text-black">Mã số thuế:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="masothue" name="masothue" placeholder="034982934">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="sodienthoai" class="col-sm-3 col-form-label text-black">Số điện thoại:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="sodienthoai" name="sodienthoai" placeholder="0347382100">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" style="background:#3D3BB2;">Lưu thông tin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

