@*
Name:Nguyễn Thị Thu Hoài
Date:07/03/2024
Des: Created
*@
@{
    Layout = null;
}
@model DATN_WebsiteTimKiemViecLam.Models.TblUngVien
<!DOCTYPE html>
<html>
<head>
    <title>Freework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elegant Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
    </script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    @* <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> *@
    <style>
        .login-container {
            text-align: left;
        }

            .login-container input[type="text"],
            .login-container select {
                margin-bottom: 20px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

            .login-container input[type="submit"] {
                background-color: #3D3BB2;
                color: white;
                height: 50px;
                width: 200px;
                padding: 10px 20px;
                border: none;
                border-radius: 29px;
                cursor: pointer;
                font-size: 16px;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-form w3_form">
                    <div class="login-title w3_title">
                        <img style="max-width: 50% !important;" src="~/images/logo.jpg" />
                    </div>
                    <div class="">
                        <div style="text-align:left" class="w3l_grid">
                            <div>
                                <span style="color:red; margin-bottom:20px">(*)</span> <span class="text-black">Các thông tin bắt buộc</span>
                            </div>
                            <form enctype="multipart/form-data" class="login-container" action="btnChinhsuathongtinUV_Click" method="POST">
                                <div class="form-group">
                                    <label for="txtHoten" class="text-black">Họ và tên:</label>
                                    <input name="txtHoten" class="form-control" placeholder="Nguyễn Thị Thu Hoài" />
                                </div>
                                <div class="form-group">
                                    <label for="fileAvatar" class="text-black">Ảnh đại diện:</label>
                                    <div class="input-group">
                                        <input type="file" name="file" class="custom-file-input" id="fileAvatar" accept="image/*" style="display: none;">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" onclick="document.getElementById('fileAvatar').click()">Chọn tệp</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="txtSodienthoai" class="text-black">Số điện thoại:</label>
                                    <input name="txtSodienthoai" class="form-control" placeholder="0347389920" />
                                </div>
                                <div class="form-group" style="width: 15%;">
                                    <label for="gioitinh" class="text-black">Giới tính:</label>
                                    <select name="txtGioitinh" class="form-control" id="gioitinh">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">LƯU THÔNG TIN</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

