@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form style="color:black; Background:#F5FAFF" class="text-black">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">File CV</label>
        <input type="file" class="form-control" id="file">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Thông tin giới thiệu</label>
    <textarea class="form-control" name="txtGioithieu" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">GỬI THÔNG TIN</button>
</form>