@{
    @if (ViewBag.MS_028 != null)
    {
        <script>
            // Gọi hàm JavaScript để hiển thị thông báo
            alert('@ViewBag.MS_028');
        </script>
    }
}
<form action="btnGuithongtinUngTuyen" enctype="multipart/form-data" method="post" style="color:black; Background:#F5FAFF" class="text-black">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">File CV</label>
        <input type="file" name="file" class="form-control">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Thông tin giới thiệu</label>
    <textarea class="form-control" name="txtGioithieu" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">GỬI THÔNG TIN</button>
</form>